html { 
  background-color: #121212;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

nav {
  height: 65px;
  width: 100%;
  border-bottom: 1px solid #3a3a3c;
  display: grid;
  place-items: center;
}

.Nav {
  width: 100%;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle; 
}

.h1{
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 280px;
  height: 340px;
  padding: 10px;
  display: grid;
  place-items: center;
}

.row {
  height: 52.5px;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.letter {
  height: 48.5px;
  width: 50px;
  border: 2px solid #3a3a3c;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.keyboard {
  width: 484px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.keys {
  width: 43px;
  height: 58px;
  margin: 2px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 15px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.keys:nth-child(11){
  margin-left: 30px;
}

.keys:nth-child(20),
.keys:nth-child(28){
  width: 68px;
}

